.board-tile {
  width: 250px;
  height: 250px;  
  background-image: url('./images/net.png');
  border: 0px solid #333;
  border-top: 10px solid #333;
  border-bottom: 5px solid #333;
}

.board-tile:hover {
  max-width: 300px;
  height: 250px;  
  background-image: url('./images/soccerball.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}


